.audio-control {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    background-color: var(--primary-red);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0 0 15px var(--primary-red);
    transition: transform 0.3s ease;
}

.audio-control:hover {
    transform: scale(1.1);
}

/* .icon {
    font-size: 1.5rem;
    z-index: 2;
} */
 .icon {
    font-size: 1.5rem;
    z-index: 2;
    transition: all 0.3s ease; /* Smooth change */
}

.icon.playing {
    color: #10b981; /* Green when playing */
    animation: pulse 1.5s infinite;
}

.visualizer {
    position: absolute;
    display: flex;
    gap: 3px;
    bottom: 10px;
    z-index: 1;
}
@keyframes pulse {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.1); }
}
.bar {
    width: 4px;
    background-color: var(--gold-accent);
    animation: equalize 1s infinite;
}

.bar:nth-child(1) {
    animation-delay: 0.1s;
    height: 10px;
}

.bar:nth-child(2) {
    animation-delay: 0.3s;
    height: 15px;
}

.bar:nth-child(3) {
    animation-delay: 0.2s;
    height: 20px;
}

.bar:nth-child(4) {
    animation-delay: 0.4s;
    height: 12px;
}

@keyframes equalize {

    0%,
    100% {
        height: 10px;
    }

    50% {
        height: 25px;
    }
}