<div class="projects-container container">

    <!-- <button class="btn-cancel back-btn" (click)="goBackHome()">
        <span class="icon">✕</span> Back to Home
    </button> -->
    <button class="btn-cancel back-btn" routerLink="/">
        <span class="icon">✕</span> Back to Home
    </button>

    <h2 class="section-title">Battle History</h2>
    <div class="projects-grid">
        <div class="project-card" *ngFor="let project of projects">
            <div class="card-content">
                <h3>{{ project.title }}</h3>
                <p>{{ project.description }}</p>
                <div class="tech-tags">
                    <span *ngFor="let tech of project.tech">{{ tech }}</span>
                </div>
                <a [href]="project.link" class="btn-samurai small">View Code</a>
            </div>
            <div class="card-border"></div>
        </div>
    </div>
</div>