<div class="row">
  <div class="row-scroll">
    <div class="movie-card" *ngFor="let movie of movies">
      <div class="movie-thumbnail-wrapper">
        <img [src]="movie.thumbnail" [alt]="movie.title" class="movie-thumbnail" />
        <div class="movie-info-overlay">
          <button class="play-tiny-btn">▶</button>
          <span class="movie-title">{{ movie.title }}</span>
        </div>
      </div>
      <div class="card-status">
        <span class="new-episode">New Episode</span>
        <button class="watch-more-btn">Watch Now</button>
      </div>
    </div>
  </div>
</div>